.logo-container{
    z-index: 0;
    width: 400px;
    height:609px;
    top:0;
    right:15%;
    bottom: 0;
    left:auto;
    margin:auto;
    opacity: 0;
    svg{
        width: 100%;
        height: auto;
        bottom:0;
        transform: rotateZ(30deg) !important;
        // margin-left:50%;
    }
    .solid-logo{
        position: absolute;
        top:auto;
        right:auto;
        bottom:auto;
        left:25;
        margin:auto;
        width:400px;
        opacity: 0;
        transform: rotatez(30deg);
        z-index: 1;
        // margin-left:12.5%;
    }
}
.svg-container{
    width:100%;
    stroke: #ffd700;
    stroke-width: 10px;

}